<nav class="navbar navbar-dark fixed-top" style="padding-top: 0; padding-bottom:0; background:#fff">
    <div class="container">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="color: #333;"><i
                class="fab fa-instagram fa-lg"></i> <span style="font-size: 30px;">|</span> <span
                id="insta">Instagram</span></a>
        <form class="search mx-auto mr-40">
            <input type="text" class="search-textbox" placeholder="Search">
            <input type="submit" name="" id="" hidden>
        </form>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" style="color: #333;"><i class="far fa-user fa-lg"></i></a>
            </li>
        </ul>
    </div>
</nav>