{%extends "instagrm/base.html"%}

{%block content%}

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            {%for post in posts%}
            <div class="card">
                <div class="card-body" style="display: flex;">
                    <img src="{{post.user_profile.profile_pic}}" alt="profile pic" style="border-radius: 50%;"
                        width="32" height="32" class="img-fluid">
                    <h5 class="card-title" style="padding-top: 10px; margin-left:10px">{{post.profile.username}}</h5>
                </div>
                <img src="{{post.image.cdn_url}}" alt="" class="img-fluid">
                <div class="card-body">
                    <i class="far fa-heart fa-lg" style="font-size: 30px; margin-right:10px;"></i>
                    <i class="far fa-comment fa-lg" style="font-size: 30px;"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.caption}}</p>
                </div>
                <form class="card-footer" style="border:none; padding:0; display:flex">
                    <input type="text" class="form-control comment" placeholder="Add a comment..." style="border: 0 none transparent">
                    <button style="background: #fff; border:none; border-radius:0; font-weight:bold; padding:10px;">Post</button>
                </form>
            </div>
            {%endfor%}
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>

{%endblock%}